
            body {
                background: #f8f9fa;
            }

            header {
                background: linear-gradient(to right bottom,#fefefe 50%,#f8f9fa 50%);
            }

            .container {
                max-width: 1080px;
                font-family: 'Open Sans', sans-serif;
            }
            
            .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }

            .bg-org-blue {
                background-color: #3D5A80;
            }

            .bg-org-green {
                background-color: #2A9D8F;
            }

            .bg-org-yellow {
                background-color: #E9C46A;
            }

            .bg-org-orange {
                background-color: #F4A261;
            }

            .bg-org-red {
                background-color: #E76F51;
            }

            .text-org-blue {
                color: #3D5A80;
            }

            .text-org-green {
                color: #2A9D8F;
            }

            .text-org-yellow {
                color: #E9C46A;
            }

            .text-org-orange {
                color: #F4A261;
            }

            .text-org-red {
                color: #E76F51;
            }

            .page-header {
                line-height: 1;
            }

            .header-logo {
                font-family: 'Merriweather', serif;
                font-size: 2.25rem;
            }

            .header-logo:hover {
                text-decoration: none;
            }

            h1, h2, h3  {
                font-family: 'Merriweather', serif;
            }

            h4, h5, h6 {
                font-family: 'Montserrat', sans-serif;
            }

            .display-4 {
                font-size: 2.5rem;
            }

            @media (min-width: 768px) {
                .display-4 {
                    font-size: 3rem;
                }
            }

            .nav-scroller {
                position: relative;
                z-index: 2;
                height: 2.75rem;
                overflow-y: hidden;
            }

            .nav-scroller .nav {
                display: -ms-flexbox;
                display: flex;
                -ms-flex-wrap: nowrap;
                flex-wrap: nowrap;
                padding-bottom: 1rem;
                margin-top: -1px;
                overflow-x: auto;
                text-align: center;
                white-space: nowrap;
                -webkit-overflow-scrolling: touch;
            }

            .nav-scroller .nav-link {
                padding-top: .75rem;
                padding-bottom: .75rem;
                font-size: .875rem;
            }

            .card-img-right {
                height: 100%;
                border-radius: 0 3px 3px 0;
            }

            .flex-auto {
                -ms-flex: 0 0 auto;
                flex: 0 0 auto;
            }

            .h-250 { height: 250px; }
                @media (min-width: 768px) {
                    .h-md-400 { height: 400px; }
                }

            /* Pagination */
            .blog-pagination {
                margin-bottom: 4rem;
            }
            .blog-pagination > .btn {
                border-radius: 2rem;
            }

            /*
            * Blog posts
            */
            .blog-post {
                margin-bottom: 4rem;
            }

            .blog-post-title {
                margin-bottom: .25rem;
                font-size: 2.5rem;
            }
            .blog-post-meta {
                margin-bottom: 1.25rem;
                color: #999;
            }

            /*
            * Footer
            */
            .blog-footer {
                padding: 2.5rem 0;
                color: #999;
                text-align: center;
                background-color: #f9f9f9;
                border-top: .05rem solid #e5e5e5;
            }

            .blog-footer p:last-child {
                margin-bottom: 0;
            }

            @media (min-width: 768px) {
                .bd-placeholder-img-lg {
                    font-size: 3.5rem;
                }
            }
     